.text-input , .img-input{
    display: flex;
    text-align: initial;
    display: flex;
    gap: 10px;
    width: 19rem;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.input-module{
    display: flex;
    flex-direction: column;
    text-align: initial;
    padding: 10px;
    width: 20rem;
    box-shadow: 0 1px 5px 5px rgba(0,0,0,0.1);
    position: absolute;
    top: 6rem;
    left: 51%;
    border-radius: 4px;
    z-index: 100;
}

img{
    width: 60px;
}

.heading{
    font-size: 1.2rem;
    font-weight: 600;
}
